html {
  scroll-behaviour: "smooth";
}
.search-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-form {
  display: flex;
  margin-bottom: 3em;
  justify-content: center;
}

.search-wrapper__box {
  margin-top: 3em;
  width: 50vw;
  text-align: center;
}

.break-td td:nth-child(2) {
  word-break: break-all;
}

