@()


@main("Welcome") {

<div style="position: absolute;top: 0;left: 0;height: 100%;width: 100%;display: flex;justify-content: center">

  <div style="flex-direction: column;
            display: flex;">
    <div style="    border: 2px solid black;
                height: fit-content;
                margin-top: 3em;
                width: 100em;
                text-align: center;">


      <h3 style="color: black; text-align: center;">Reddit Analysis</h3>

      <div style="margin-bottom: 1em">
        <input type="text" style="border-color: black;
                        outline: none;
                        font-size: 1em;padding: 8px; width: 30em ;display: inline-block" placeholder="Enter Search Term" id="searchBox"/>
        <a style="display: inline-block;
                        margin-left: 10px;
                        border: 2px solid black;
                        padding: 6px;
                        border-radius: 0%;
                        color: blue;
                        cursor: pointer;
                        font-weight: 700;" href='/' id="go">Search</a>
      </div>
    </div>




  </div>
</div>




}