@(data : QuerySearchResult)
@import helper._

@main("Profile") {
  <div class="container">
    <a href="/">Go Back</a><br/><br/>

    <h2 class="title">User Profile</h2>
    @if(!data.getData().isEmpty()) {
      <table class="table is-hoverable is-narrow is-bordered">
        <tbody>
          <tr><th>Name</th><td>@data.getData().get(0).author_fullname</td></tr>
          <tr><th>Id</th><td>@data.getData().get(0).author</td></tr>
          <tr><th>Blocked</th><td>@data.getData().get(0).author_is_blocked</td></tr>
          <tr><th>Premium</th><td>@data.getData().get(0).author_premium</td></tr>
        </tbody>
      </table>

      <h4 class="subtitle is-5">Recent Posts</h4>
      <div class="table-container">
        <table class="table is-hoverable is-fullwidth is-bordered break-td">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Author</th>
              <th>Subreddit</th>
            </tr>
          </thead>
          <tbody>
            @for(post <- data.getData()) {
              <tr>
                <td>@post.title</td>
                <td>
                  @if(post.selftext.isEmpty()) {
                    -
                  } else {
                    @post.selftext
                  }
                </td>
                <td><a href="/user/@post.author">@post.author</a></td>
                <td><a href="/thread/@post.subreddit">@post.subreddit</a></td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    } else {
      <h4 class="subtitle is-6">No results found</h4>
    }
  </div>
}
