@(data : QuerySearchResult)
@import helper._

@main("Subreddit") {
  <div class="container">
    <a href="/">Go Back</a><br/><br/>

    <h2 class="title">Subreddit</h2>
    <h3 class="subtitle is-5">r/@data.getSearchTerm()</h3>

    @if(!data.getData().isEmpty()) {
      <div class="table-container">
        <table class="table is-hoverable is-fullwidth is-bordered break-td">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Author</th>
              <th>Subreddit</th>
            </tr>
          </thead>
          <tbody>
            @for(post <- data.getData()) {
              <tr>
                <td>@post.title</td>
                <td>
                  @if(post.selftext.isEmpty()) {
                    -
                  } else {
                    @post.selftext
                  }
                </td>
                <td><a href="/user/@post.author">@post.author</a></td>
                <td><a href="/thread/@post.subreddit">@post.subreddit</a></td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    } else {
      <h4 class="subtitle is-6">No results found</h4>
    }
  </div>
}
